<!DOCTYPE html>
<!--[if IE 6]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie8"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

  <!-- Start of Baidu Transcode -->
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta name="applicable-device" content="pc,mobile">
  <meta name="MobileOptimized" content="width"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="mobile-agent" content="format=html5;url=http://localhost/">
  <!-- End of Baidu Transcode -->

    <meta name="description"  content="简书是一个优质的创作社区，在这里，你可以任性地创作，一篇短文、一张照片、一首诗、一幅画……我们相信，每个人都是生活中的艺术家，有着无穷的创造力。">
    <meta name="keywords"  content="简书,简书官网,图文编辑软件,简书下载,图文创作,创作软件,原创社区,小说,散文,写作,阅读">

  <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8" />
  <meta property="wb:webmaster" content="294ec9de89e7fadb" />
  <meta property="qc:admins" content="104102651453316562112116375" />
  <meta property="qc:admins" content="11635613706305617" />
  <meta property="qc:admins" content="1163561616621163056375" />
  <meta name="google-site-verification" content="cV4-qkUJZR6gmFeajx_UyPe47GW9vY6cnCrYtCHYNh4" />
  <meta name="google-site-verification" content="HF7lfF8YEGs1qtCE-kPml8Z469e2RHhGajy6JPVy5XI" />
  <meta http-equiv="mobile-agent" content="format=html5; url=http://localhost/">

  <!-- Apple -->
  <meta name="apple-mobile-web-app-title" content="简书">

  

    <title>简书 - 创作你的创作</title>

  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="VT7FIl8KXwDNbf8/9SsvsxNGYnYsFppG15nBkRMfDoClp0Le6giqE9S5w5hIaQTHEq09fX4zYgXSLM9l2czZHQ==" />

  <link rel="stylesheet" media="all" href="//cdn2.jianshu.io/assets/web-221ec98db5f8f985b66f.css" />
  
  <link rel="stylesheet" media="all" href="//cdn2.jianshu.io/assets/web/pages/home/index/entry-bd61c34d00b654e4cf33.css" />

  <link href="//cdn2.jianshu.io/assets/favicons/favicon-e743bfb1821442341c3ab15bdbe804f7ad97676bd07a770ccc9483473aa76f06.ico" rel="shortcut icon" type="image/x-icon">
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/57-a6f1f1ee62ace44f6dc2f6a08575abd3c3b163288881c78dd8d75247682a4b27.png" sizes="57x57" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/72-fb9834bcfce738fd7b9c5e31363e79443e09a81a8e931170b58bc815387c1562.png" sizes="72x72" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/76-49d88e539ff2489475d603994988d871219141ecaa0b1a7a9a1914f4fe3182d6.png" sizes="76x76" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/114-24252fe693524ed3a9d0905e49bff3cbd0228f25a320aa09053c2ebb4955de97.png" sizes="114x114" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/120-1bb7371f5e87f93ce780a5f1a05ff1b176828ee0d1d130e768575918a2e05834.png" sizes="120x120" />
      <link rel="apple-touch-icon-precomposed" href="//cdn2.jianshu.io/assets/apple-touch-icons/152-bf209460fc1c17bfd3e2b84c8e758bc11ca3e570fd411c3bbd84149b97453b99.png" sizes="152x152" />

  <!-- Start of 访问统计 -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?0c0e9d9b1e7d617b3e6842e85b9fb068";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <!-- End of 访问统计 -->
</head>

  <body lang="zh-CN" class="reader-black-font">
    <!-- 全局顶部导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="width-limit">
    <!-- 左上方 Logo -->
    <a class="logo" href="/"><img src="//cdn2.jianshu.io/assets/web/nav-logo-4c7bbafe27adc892f3046e6978459bac.png" alt="Nav logo" /></a>

    <!-- 右上角 -->
      <!-- 未登录显示登录/注册/写文章 -->
      <a class="btn write-btn" target="_blank" href="/writer#/">
        <i class="iconfont ic-write"></i>写文章
</a>      <a class="btn sign-up" href="/sign_up">注册</a>
      <a class="btn log-in" href="/sign_in">登录</a>

    <!-- 如果用户登录，显示下拉菜单 -->

    <div id="view-mode-ctrl">
    </div>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li class="tab active">
              <a href="/">
                <span class="menu-text">首页</span><i class="iconfont ic-navigation-discover menu-icon"></i>
</a>            </li>
            <li class="tab ">
              <a id="web-nav-app-download-btn" class="app-download-btn" href="/apps?utm_medium=desktop&amp;utm_source=navbar-apps"><span class="menu-text">下载App</span><i class="iconfont ic-navigation-download menu-icon"></i></a>
            </li>
          <li class="search">
            <form target="_blank" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
              <input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索" class="search-input" />
              <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
</form>          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

    
<div class="container index">
  <div class="row">
    <div class="col-xs-16 main">
      <!-- Banner -->
    
        <div class="recommend-collection">
            <a class="collection" target="_blank" href="/c/V2CqjW?utm_medium=index-collections&amp;utm_source=desktop">
              <img src="//upload.jianshu.io/collections/images/14/6249340_194140034135_2.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
              <div class="name">@IT·互联网</div>
</a>            <a class="collection" target="_blank" href="/c/8c92f845cd4d?utm_medium=index-collections&amp;utm_source=desktop">
              <img src="//upload.jianshu.io/collections/images/283250/%E6%BC%AB%E7%94%BB%E4%B8%93%E9%A2%98.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
              <div class="name">手绘</div>
</a>            <a class="collection" target="_blank" href="/c/e7d2d4045b36?utm_medium=index-collections&amp;utm_source=desktop">
              <img src="//upload.jianshu.io/collections/images/75/22.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
              <div class="name">历史</div>
</a>            <a class="collection" target="_blank" href="/c/b676c24f7d60?utm_medium=index-collections&amp;utm_source=desktop">
              <img src="//upload.jianshu.io/collections/images/494271/51164a1egd7b1a4a7c491_690.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
              <div class="name">人文社科</div>
</a>            <a class="collection" target="_blank" href="/c/7b2be866f564?utm_medium=index-collections&amp;utm_source=desktop">
              <img src="//upload.jianshu.io/collections/images/83/1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
              <div class="name">摄影</div>
</a>            <a class="collection" target="_blank" href="/c/5AUzod?utm_medium=index-collections&amp;utm_source=desktop">
              <img src="//upload.jianshu.io/collections/images/13/%E5%95%8A.png?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
              <div class="name">旅行·在路上</div>
</a>            <a class="collection" target="_blank" href="/c/20f7f4031550?utm_medium=index-collections&amp;utm_source=desktop">
              <img src="//upload.jianshu.io/collections/images/261938/man-hands-reading-boy-large.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
              <div class="name">社会热点</div>
</a>
            <a class="more-hot-collection" target="_blank" href="/recommendations/collections?utm_medium=index-collections&amp;utm_source=desktop">
              更多热门专题 <i class="iconfont ic-link"></i>
</a>        </div>
      <div class="split-line"></div>
      <div id="list-container">
        <!-- 文章列表模块 -->
        <ul class="note-list" infinite-scroll-url="/">
          

<li id="note-26524789" data-note-id="26524789" class="have-img">
    <a class="wrap-img" href="/p/19878aab9f1f" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/2509688-743a18ef5700e1b2.png?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/2509688-743a18ef5700e1b2.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/12532d36e4da">
        <img src="//upload.jianshu.io/users/upload_avatars/2509688/e55553f1-0544-4bde-ad4d-48bcfc01e856.png?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/12532d36e4da">阿里云云栖社区</a>
          <a target="_blank" href="http://www.jianshu.com/p/ec82d7d9a7e3">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书认证机构" src="//cdn2.jianshu.io/assets/badges/verified_account-6ea2051ef5e5f656a6a05abf073c6ab2cfe00258052f160aa2f2b86ff0a216c3.png" alt="Verified account" />
</a>        <span class="time" data-shared-at="2018-04-12T10:18:13+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/19878aab9f1f">佛系程序员的月薪五万指南</a>
    <p class="abstract">
      摘要：大师：很简单，我这里有一份佛系月薪 5 万指南，我看你骨骼清奇、脑门光亮，一看就是将要大富大贵之人，这份指南可以助你快速实现小目标！ 程序员问大师…… 青年：大师，你看...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/19878aab9f1f">
        <i class="iconfont ic-list-read"></i> 9657
</a>        <a target="_blank" href="/p/19878aab9f1f#comments">
          <i class="iconfont ic-list-comments"></i> 23
</a>      <span><i class="iconfont ic-list-like"></i> 297</span>
        <span><i class="iconfont ic-list-money"></i> 2</span>
    </div>
  </div>
</li>


<li id="note-26559576" data-note-id="26559576" class="have-img">
    <a class="wrap-img" href="/p/a77ce6dcd4c1" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4082943-96f89345b487e447.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4082943-96f89345b487e447.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/fee4b4b0b89e">
        <img src="//upload.jianshu.io/users/upload_avatars/4082943/3f091fa05686.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/fee4b4b0b89e">晓多</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书职场优秀作者" src="//upload.jianshu.io/user_badge/172e9df8-c44e-428e-8f48-a752af30bce6" alt="172e9df8 c44e 428e 8f48 a752af30bce6" />
</a>        <span class="time" data-shared-at="2018-04-12T22:48:56+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/a77ce6dcd4c1">比行动懒惰更可怕的是思维懒惰！</a>
    <p class="abstract">
      01 跟一个朋友聊天。她提起工作中的烦心事：她在一家企业做人事，前两天因为一个流程疏忽，有一个应聘者入职没有两天就辞职了，但是单位已经给这位应聘者交了公积金的部分，他的突然辞...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/a77ce6dcd4c1">
        <i class="iconfont ic-list-read"></i> 10684
</a>        <a target="_blank" href="/p/a77ce6dcd4c1#comments">
          <i class="iconfont ic-list-comments"></i> 29
</a>      <span><i class="iconfont ic-list-like"></i> 255</span>
        <span><i class="iconfont ic-list-money"></i> 1</span>
    </div>
  </div>
</li>


<li id="note-25852106" data-note-id="25852106" class="have-img">
    <a class="wrap-img" href="/p/85913ed97af5" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/3513995-1ecece038ce82a27.png?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/3513995-1ecece038ce82a27.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/35167a70aa39">
        <img src="//upload.jianshu.io/users/upload_avatars/3513995/642315eb-6cfb-46ca-b6ab-c626b9d24792.png?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/35167a70aa39">依然范特稀西</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书程序员优秀作者" src="//upload.jianshu.io/user_badge/595a1b60-08f6-4beb-998f-2bf55e230555" alt="595a1b60 08f6 4beb 998f 2bf55e230555" />
</a>        <span class="time" data-shared-at="2018-04-16T21:08:09+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/85913ed97af5">Android app 在线更新那点事儿（适配Android6.0、7.0、8.0）</a>
    <p class="abstract">
      一、前言 app在线更新是一个比较常见需求，新版本发布时，用户进入我们的app,就会弹出更新提示框，第一时间更新新版本app。在线更新分为以下几个步骤： 在线更新就上面几个步...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/85913ed97af5">
        <i class="iconfont ic-list-read"></i> 1061
</a>        <a target="_blank" href="/p/85913ed97af5#comments">
          <i class="iconfont ic-list-comments"></i> 7
</a>      <span><i class="iconfont ic-list-like"></i> 50</span>
    </div>
  </div>
</li>


<li id="note-26651478" data-note-id="26651478" class="have-img">
    <a class="wrap-img" href="/p/173d09bfdbe1" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/10299630-7d187f7eb5a3a795?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/10299630-7d187f7eb5a3a795?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/c0df9f7c15fa">
        <img src="//upload.jianshu.io/users/upload_avatars/10299630/83f64532-6698-4b2a-b427-e025471956d5.png?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/c0df9f7c15fa">伊竹凌</a>
        <span class="time" data-shared-at="2018-04-14T22:02:32+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/173d09bfdbe1">阿里架构师：​程序员必须掌握的几项技术能力</a>
    <p class="abstract">
      一、源码分析 源码分析是一种临界知识，掌握了这种临界知识，能不变应万变，源码分析对于很多人来说很枯燥，生涩难懂。 源码阅读，我觉得最核心有三点：技术基础+强烈的求知欲+耐心。...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/173d09bfdbe1">
        <i class="iconfont ic-list-read"></i> 3519
</a>        <a target="_blank" href="/p/173d09bfdbe1#comments">
          <i class="iconfont ic-list-comments"></i> 4
</a>      <span><i class="iconfont ic-list-like"></i> 84</span>
    </div>
  </div>
</li>


<li id="note-26789046" data-note-id="26789046" class="have-img">
    <a class="wrap-img" href="/p/f26248d43be6" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4082943-4cade14fc461f80c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4082943-4cade14fc461f80c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/fee4b4b0b89e">
        <img src="//upload.jianshu.io/users/upload_avatars/4082943/3f091fa05686.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/fee4b4b0b89e">晓多</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书职场优秀作者" src="//upload.jianshu.io/user_badge/172e9df8-c44e-428e-8f48-a752af30bce6" alt="172e9df8 c44e 428e 8f48 a752af30bce6" />
</a>        <span class="time" data-shared-at="2018-04-17T22:40:01+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/f26248d43be6">毫无准备就长大了的人，只能挨生活留下的耳光</a>
    <p class="abstract">
      01 每年单位都会组织临时聘用人员的套转考试，考上的人可以由临时工转为合同工，身份的转变不仅意味着更加有保障，还可以拿到绩效奖，工资比原来多出3千多元，所以每年都有不少人员报...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/f26248d43be6">
        <i class="iconfont ic-list-read"></i> 546
</a>        <a target="_blank" href="/p/f26248d43be6#comments">
          <i class="iconfont ic-list-comments"></i> 10
</a>      <span><i class="iconfont ic-list-like"></i> 41</span>
    </div>
  </div>
</li>


<li id="note-26661691" data-note-id="26661691" class="have-img">
    <a class="wrap-img" href="/p/98db5d501702" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4810847-52b6c310faac738d.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4810847-52b6c310faac738d.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/a7f876850fa6">
        <img src="//upload.jianshu.io/users/upload_avatars/4810847/8fd7b1938823.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/a7f876850fa6">秋水饮马</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书视觉优秀作者" src="//upload.jianshu.io/user_badge/1962768d-ea32-4414-8d4f-88ece3923534" alt="1962768d ea32 4414 8d4f 88ece3923534" />
</a>        <span class="time" data-shared-at="2018-04-15T07:29:57+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/98db5d501702">乡愁</a>
    <p class="abstract">
      三原则：图原创，文原创，诗原创。 小时候 我住在一个小小的村子 山前有树 溪边有牛 后来 我去了一座大大的城市 心头有梦 眉间有愁 然后 我买了一套挤挤的房子 屋下有家 肩上...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/98db5d501702">
        <i class="iconfont ic-list-read"></i> 2117
</a>        <a target="_blank" href="/p/98db5d501702#comments">
          <i class="iconfont ic-list-comments"></i> 132
</a>      <span><i class="iconfont ic-list-like"></i> 127</span>
        <span><i class="iconfont ic-list-money"></i> 3</span>
    </div>
  </div>
</li>


<li id="note-26723733" data-note-id="26723733" class="have-img">
    <a class="wrap-img" href="/p/8372e4abcc3b" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/5901395-5ce87a5ec28c5f39.png?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/5901395-5ce87a5ec28c5f39.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/dbb14da93531">
        <img src="//upload.jianshu.io/users/upload_avatars/5901395/af6c58c6-7235-47d7-bad6-143d2e5782a3.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/dbb14da93531">一河漪沫</a>
          <a target="_blank" href="http://www.jianshu.com/p/dc5761bbaa76">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书签约作者" src="//cdn2.jianshu.io/assets/badges/signed-9702260821906f0d953eab67a29f8e7a2d2e3d20960576347591283a3fbfd867.png" alt="Signed" />
</a>        <span class="time" data-shared-at="2018-04-17T08:40:35+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/8372e4abcc3b">自媒体写作时代，如何打造个人IP品牌logo？</a>
    <p class="abstract">
      在自媒体写作时代，每个人都应该必备一个个人IP品牌标志！ 你可能不知道有一个属于自己的品牌logo，是很有必要的一件事。你的IP品牌logo就代表着你，当读者一看到这个log...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/8372e4abcc3b">
        <i class="iconfont ic-list-read"></i> 957
</a>        <a target="_blank" href="/p/8372e4abcc3b#comments">
          <i class="iconfont ic-list-comments"></i> 23
</a>      <span><i class="iconfont ic-list-like"></i> 41</span>
        <span><i class="iconfont ic-list-money"></i> 5</span>
    </div>
  </div>
</li>


<li id="note-26737662" data-note-id="26737662" class="have-img">
    <a class="wrap-img" href="/p/3dd8b3a8d052" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4810847-7a83607f9b37480d.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4810847-7a83607f9b37480d.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/a7f876850fa6">
        <img src="//upload.jianshu.io/users/upload_avatars/4810847/8fd7b1938823.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/a7f876850fa6">秋水饮马</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书视觉优秀作者" src="//upload.jianshu.io/user_badge/1962768d-ea32-4414-8d4f-88ece3923534" alt="1962768d ea32 4414 8d4f 88ece3923534" />
</a>        <span class="time" data-shared-at="2018-04-17T06:07:27+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/3dd8b3a8d052">在贝加尔湖畔</a>
    <p class="abstract">
      三原则：图原创，文原创，诗原创。 我原以为， 跨过这片雪原， 翻过那座高山， 就可以、 也许可以， 看见明媚的春天。 其实我不太确定。 只是害怕， 这次远行， 会留下遗憾。 ...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/3dd8b3a8d052">
        <i class="iconfont ic-list-read"></i> 391
</a>        <a target="_blank" href="/p/3dd8b3a8d052#comments">
          <i class="iconfont ic-list-comments"></i> 52
</a>      <span><i class="iconfont ic-list-like"></i> 63</span>
    </div>
  </div>
</li>


<li id="note-25982162" data-note-id="25982162" class="have-img">
    <a class="wrap-img" href="/p/0bbc80b583e7" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/3459828-e79f25bd11163560.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/3459828-e79f25bd11163560.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/21a7a893f4b7">
        <img src="//upload.jianshu.io/users/upload_avatars/3459828/bffe61dd-0078-4f8f-95f5-865ee09c139d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/21a7a893f4b7">有备而来的路人甲</a>
          <a target="_blank" href="http://www.jianshu.com/p/dc5761bbaa76">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书签约作者" src="//cdn2.jianshu.io/assets/badges/signed-9702260821906f0d953eab67a29f8e7a2d2e3d20960576347591283a3fbfd867.png" alt="Signed" />
</a>        <span class="time" data-shared-at="2018-04-13T11:10:25+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/0bbc80b583e7">以文艺的情怀，寻觅有故事的上海弄堂</a>
    <p class="abstract">
      魔都除了光怪陆离，灯红酒绿， 还有老上海平凡的弄堂故事。 上海弄堂，浮华城市的平静梦， 就连当初那么风起云涌的历史也都归为尘土， 消散在弄堂午后的阳光里了。 我刚来上海的时候...
    </p>
    <div class="meta">

        <a class="collection-tag" target="_blank" href="/c/fcd7a62be697">故事</a>
      <a target="_blank" href="/p/0bbc80b583e7">
        <i class="iconfont ic-list-read"></i> 5245
</a>        <a target="_blank" href="/p/0bbc80b583e7#comments">
          <i class="iconfont ic-list-comments"></i> 61
</a>      <span><i class="iconfont ic-list-like"></i> 167</span>
        <span><i class="iconfont ic-list-money"></i> 4</span>
    </div>
  </div>
</li>


<li id="note-26620052" data-note-id="26620052" class="have-img">
    <a class="wrap-img" href="/p/c983ec21c71f" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4810847-fedb98d6465a9094.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4810847-fedb98d6465a9094.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/a7f876850fa6">
        <img src="//upload.jianshu.io/users/upload_avatars/4810847/8fd7b1938823.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/a7f876850fa6">秋水饮马</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书视觉优秀作者" src="//upload.jianshu.io/user_badge/1962768d-ea32-4414-8d4f-88ece3923534" alt="1962768d ea32 4414 8d4f 88ece3923534" />
</a>        <span class="time" data-shared-at="2018-04-14T08:16:54+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/c983ec21c71f">大树与少女</a>
    <p class="abstract">
      三原则：图原创，文原创，诗原创。 在错误季节的相逢 也许是另一场错误 我终于长成了一颗树 遇见你时 却是风雪载途 然而 能得到你的注视 总算是一种幸福 哪怕面对面时 各自孤独...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/c983ec21c71f">
        <i class="iconfont ic-list-read"></i> 2031
</a>        <a target="_blank" href="/p/c983ec21c71f#comments">
          <i class="iconfont ic-list-comments"></i> 101
</a>      <span><i class="iconfont ic-list-like"></i> 112</span>
    </div>
  </div>
</li>


<li id="note-26754419" data-note-id="26754419" class="">
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/d6875d11fafd">
        <img src="//upload.jianshu.io/users/upload_avatars/5941689/245ed2cf-394c-4696-8e8f-b9906f7906bd.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/d6875d11fafd">世代</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书人文优秀作者" src="//upload.jianshu.io/user_badge/d7963b5c-84d4-4ec7-a121-3a81d084a3eb" alt="D7963b5c 84d4 4ec7 a121 3a81d084a3eb" />
</a>        <span class="time" data-shared-at="2018-04-17T11:20:59+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/aba3f7dbd13b">如何在简书出版一本书（之一）</a>
    <p class="abstract">
      前两天简单分享了一下对于写作的看法，没想到收到那么多回应，我也尽可能一一回答了。只把其中一些可能会引起误解的点再解释一下。 首先，我尊重所有人的写作，我的文章只是从出版角度的...
    </p>
    <div class="meta">
        <span class="paid-meta">
          <i class="iconfont ic-paid"></i>
          付费
        </span>

        <a class="collection-tag" target="_blank" href="/c/43bddff215e8">行业故事</a>
      <a target="_blank" href="/p/aba3f7dbd13b">
        <i class="iconfont ic-list-read"></i> 1217
</a>        <a target="_blank" href="/p/aba3f7dbd13b#comments">
          <i class="iconfont ic-list-comments"></i> 35
</a>      <span><i class="iconfont ic-list-like"></i> 63</span>
        <span><i class="iconfont ic-list-money"></i> 2</span>
    </div>
  </div>
</li>


<li id="note-26702970" data-note-id="26702970" class="have-img">
    <a class="wrap-img" href="/p/1fd89311ba9b" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/10289143-30af8868c8f2b7b1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/10289143-30af8868c8f2b7b1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/ab993c12faa7">
        <img src="//upload.jianshu.io/users/upload_avatars/10289143/71bb2ebc-0e86-47a0-be6b-9e3ffeb89da8?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/ab993c12faa7">麦麦小兜</a>
          <a target="_blank" href="https://www.jianshu.com/club?default=niandu">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书会员" src="//upload.jianshu.io/user_badge/22d8d123-271c-4d80-9c59-6990844a9e37" alt="22d8d123 271c 4d80 9c59 6990844a9e37" />
</a>        <span class="time" data-shared-at="2018-04-16T13:36:00+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/1fd89311ba9b">书有清香 | 爱情之上，一无所有</a>
    <p class="abstract">
      嗨，欢迎来到小兜的《书有清香》系列，今天，我们来聊一聊世界经典名著中的绝色女子——茶花女。 总觉得，这世界上的每一个女子都是应该被疼惜的，尤其是那些文学作品中的女子。 翻开泛...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/1fd89311ba9b">
        <i class="iconfont ic-list-read"></i> 1006
</a>        <a target="_blank" href="/p/1fd89311ba9b#comments">
          <i class="iconfont ic-list-comments"></i> 74
</a>      <span><i class="iconfont ic-list-like"></i> 74</span>
        <span><i class="iconfont ic-list-money"></i> 2</span>
    </div>
  </div>
</li>


<li id="note-26164044" data-note-id="26164044" class="">
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/d6875d11fafd">
        <img src="//upload.jianshu.io/users/upload_avatars/5941689/245ed2cf-394c-4696-8e8f-b9906f7906bd.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/d6875d11fafd">世代</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书人文优秀作者" src="//upload.jianshu.io/user_badge/d7963b5c-84d4-4ec7-a121-3a81d084a3eb" alt="D7963b5c 84d4 4ec7 a121 3a81d084a3eb" />
</a>        <span class="time" data-shared-at="2018-04-12T17:51:09+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/e1c705230850">对简书作者要说的四点免费建议</a>
    <p class="abstract">
      简书版权是为作者服务的。到现在为止我们做得还不错，接近80部作品签约出版了，从4月份开始，陆续会有一些纸书会面世。更让人开心的是，我们的非虚构类作者，有的已经拿到了起印三万册...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/e1c705230850">
        <i class="iconfont ic-list-read"></i> 12066
</a>        <a target="_blank" href="/p/e1c705230850#comments">
          <i class="iconfont ic-list-comments"></i> 122
</a>      <span><i class="iconfont ic-list-like"></i> 432</span>
        <span><i class="iconfont ic-list-money"></i> 22</span>
    </div>
  </div>
</li>


<li id="note-26489441" data-note-id="26489441" class="have-img">
    <a class="wrap-img" href="/p/3264af62268b" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4800119-988b7119d113cea0?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4800119-988b7119d113cea0?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/d0be5ae77914">
        <img src="//upload.jianshu.io/users/upload_avatars/4800119/5214d79f-7464-471c-aaa0-8946c22dfd4a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/d0be5ae77914">潘城王小古</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书观察优秀作者" src="//upload.jianshu.io/user_badge/94d76265-aab1-4559-8d12-1da9f6be21ce" alt="94d76265 aab1 4559 8d12 1da9f6be21ce" />
</a>        <span class="time" data-shared-at="2018-04-11T15:36:15+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/3264af62268b">王小波：我一生的黄金时代</a>
    <p class="abstract">
      01 当代诗人臧克家在纪念鲁迅先生逝世十三周年时写过一首抒情诗《有的人》： “有的人活着，他已经死了；有的人死了，他还活着。” 1997年4月11日，一个再平常不过的日子，远...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/3264af62268b">
        <i class="iconfont ic-list-read"></i> 21988
</a>        <a target="_blank" href="/p/3264af62268b#comments">
          <i class="iconfont ic-list-comments"></i> 123
</a>      <span><i class="iconfont ic-list-like"></i> 792</span>
        <span><i class="iconfont ic-list-money"></i> 9</span>
    </div>
  </div>
</li>


<li id="note-26751649" data-note-id="26751649" class="have-img">
    <a class="wrap-img" href="/p/269a31f91ea3" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/10289143-91be09a24a0a3712.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/10289143-91be09a24a0a3712.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/ab993c12faa7">
        <img src="//upload.jianshu.io/users/upload_avatars/10289143/71bb2ebc-0e86-47a0-be6b-9e3ffeb89da8?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/ab993c12faa7">麦麦小兜</a>
          <a target="_blank" href="https://www.jianshu.com/club?default=niandu">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书会员" src="//upload.jianshu.io/user_badge/22d8d123-271c-4d80-9c59-6990844a9e37" alt="22d8d123 271c 4d80 9c59 6990844a9e37" />
</a>        <span class="time" data-shared-at="2018-04-17T16:06:59+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/269a31f91ea3">书有清香 | 有多少爱可以重来</a>
    <p class="abstract">
      嗨，欢迎来到小兜的《书有清香》系列。今天，我想把《呼啸山庄》里凯瑟琳的故事，说给你听。也许，你也和我一样，为她唏嘘不已—— 一开始，我想我是喜欢这个女孩的。 身为一个贵族小姐...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/269a31f91ea3">
        <i class="iconfont ic-list-read"></i> 188
</a>        <a target="_blank" href="/p/269a31f91ea3#comments">
          <i class="iconfont ic-list-comments"></i> 41
</a>      <span><i class="iconfont ic-list-like"></i> 35</span>
        <span><i class="iconfont ic-list-money"></i> 2</span>
    </div>
  </div>
</li>


<li id="note-26579526" data-note-id="26579526" class="have-img">
    <a class="wrap-img" href="/p/13f1c7ee458e" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/9275049-47cdee38ce65ec4a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/9275049-47cdee38ce65ec4a.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/0bcd92bb2093">
        <img src="//upload.jianshu.io/users/upload_avatars/9275049/35a74808-9c09-47db-9c86-2f143c669b5d?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/0bcd92bb2093">网易人间</a>
          <a target="_blank" href="http://www.jianshu.com/p/ec82d7d9a7e3">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书认证机构" src="//cdn2.jianshu.io/assets/badges/verified_account-6ea2051ef5e5f656a6a05abf073c6ab2cfe00258052f160aa2f2b86ff0a216c3.png" alt="Verified account" />
</a>        <span class="time" data-shared-at="2018-04-16T10:52:51+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/13f1c7ee458e">我们停在了高考作弊的最后一步</a>
    <p class="abstract">
      当看见穿外套的女生被老师要求脱下外套，并反复仔细搜查的时候，我心跳得异常剧烈，腿也开始发软，转头准备往厕所冲，却被老师叫住，问我干什么去，我一下停住脚步，大脑一片空白，话却自...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/13f1c7ee458e">
        <i class="iconfont ic-list-read"></i> 6738
</a>        <a target="_blank" href="/p/13f1c7ee458e#comments">
          <i class="iconfont ic-list-comments"></i> 35
</a>      <span><i class="iconfont ic-list-like"></i> 149</span>
    </div>
  </div>
</li>


<li id="note-26652076" data-note-id="26652076" class="have-img">
    <a class="wrap-img" href="/p/46979f537c29" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/1442902-2dffaa7acf809740?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/1442902-2dffaa7acf809740?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/deeea9e09cbc">
        <img src="//upload.jianshu.io/users/upload_avatars/1442902/47e63305-abdd-4b9d-9966-7ecc460fc152.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/deeea9e09cbc">衷曲无闻</a>
          <a target="_blank" href="http://www.jianshu.com/p/ed7ca899d796">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书版权" src="//upload.jianshu.io/user_badge/48d31e61-a03c-4506-81a2-d224ac0a2d8b" alt="48d31e61 a03c 4506 81a2 d224ac0a2d8b" />
</a>        <span class="time" data-shared-at="2018-04-15T08:49:36+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/46979f537c29">霍思燕：多少孩子被害了一辈子，都是因为父母不会这样做</a>
    <p class="abstract">
      01 霍思燕上微博热搜了，不是因为什么让人惊掉下巴的绯闻，而是她给儿子的教育方式。 我身边有很多单身女青年，像着了魔一样都在看《妈妈是超人3》，纷纷扬言想要结婚生子了，最好是...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/46979f537c29">
        <i class="iconfont ic-list-read"></i> 8554
</a>        <a target="_blank" href="/p/46979f537c29#comments">
          <i class="iconfont ic-list-comments"></i> 30
</a>      <span><i class="iconfont ic-list-like"></i> 198</span>
        <span><i class="iconfont ic-list-money"></i> 2</span>
    </div>
  </div>
</li>


<li id="note-26745980" data-note-id="26745980" class="have-img">
    <a class="wrap-img" href="/p/425e0597ca83" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/7747821-7dd5d0bacac419df.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/7747821-7dd5d0bacac419df.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/d263abd10851">
        <img src="//upload.jianshu.io/users/upload_avatars/7747821/b4e6c63a-3a1c-4421-8ef3-31ab5d7b8872.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/d263abd10851">香禾</a>
        <span class="time" data-shared-at="2018-04-17T08:55:46+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/425e0597ca83">男子趁好友重病昏迷偷银行卡转走11万救命钱：有一种损友会要了你的命</a>
    <p class="abstract">
                       01 四川西昌的卢某，遇到资金危机急需用钱，他偶然发现罹患癌症的好友，银行卡内余额较多。当他再次去好友家中探望时，趁好友卧床昏迷，窃取银行卡...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/425e0597ca83">
        <i class="iconfont ic-list-read"></i> 915
</a>        <a target="_blank" href="/p/425e0597ca83#comments">
          <i class="iconfont ic-list-comments"></i> 8
</a>      <span><i class="iconfont ic-list-like"></i> 99</span>
        <span><i class="iconfont ic-list-money"></i> 1</span>
    </div>
  </div>
</li>


<li id="note-26614139" data-note-id="26614139" class="have-img">
    <a class="wrap-img" href="/p/a88dd797aaeb" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4386836-9529a8a61054e95b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4386836-9529a8a61054e95b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/e22026e54f34">
        <img src="//upload.jianshu.io/users/upload_avatars/4386836/7b2e3685-0adc-4cc2-8766-84ce9f773e41.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/e22026e54f34">零露_清扬婉兮</a>
          <a target="_blank" href="http://www.jianshu.com/p/9cb2014de249">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书专题主编" src="//cdn2.jianshu.io/assets/badges/verified_account-6ea2051ef5e5f656a6a05abf073c6ab2cfe00258052f160aa2f2b86ff0a216c3.png" alt="Verified account" />
</a>        <span class="time" data-shared-at="2018-04-17T07:17:48+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/a88dd797aaeb">社会热点访谈|努力奔跑，让写作梦想照近现实</a>
    <p class="abstract">
      【社会热点访谈】『社会热点』是简书活跃专题之一，目前关注量已突破120万+的关注量，主要收录社会突发事件、热点事件及时事要闻评论。社会热点是一个内容很宽泛的词，我希望简友可以...
    </p>
    <div class="meta">
        <span class="paid-meta">
          <i class="iconfont ic-paid"></i>
          付费
        </span>

      <a target="_blank" href="/p/a88dd797aaeb">
        <i class="iconfont ic-list-read"></i> 822
</a>        <a target="_blank" href="/p/a88dd797aaeb#comments">
          <i class="iconfont ic-list-comments"></i> 13
</a>      <span><i class="iconfont ic-list-like"></i> 36</span>
        <span><i class="iconfont ic-list-money"></i> 1</span>
    </div>
  </div>
</li>


<li id="note-26477119" data-note-id="26477119" class="have-img">
    <a class="wrap-img" href="/p/a64529b4ccf3" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/2090254-b0c1b0bee5a3fea8.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/2090254-b0c1b0bee5a3fea8.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/6e176873807c">
        <img src="//upload.jianshu.io/users/upload_avatars/2090254/10b0af8b-f436-479e-972d-5f7fc99b492c.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/6e176873807c">漫漫Chan</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书观察优秀作者" src="//upload.jianshu.io/user_badge/94d76265-aab1-4559-8d12-1da9f6be21ce" alt="94d76265 aab1 4559 8d12 1da9f6be21ce" />
</a>        <span class="time" data-shared-at="2018-04-11T11:25:49+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/a64529b4ccf3">刘若英把《后来》拍成电影，你怎么看哭了？</a>
    <p class="abstract">
      01 奶茶刘若英导演的处女作电影《后来的我们》已经发布了预告片，短短两分钟半，看哭了无数有故事的人。 电影讲述了一对北漂情侣的故事，方小晓和林见清相识于一列返乡的火车上。 方...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/a64529b4ccf3">
        <i class="iconfont ic-list-read"></i> 26993
</a>        <a target="_blank" href="/p/a64529b4ccf3#comments">
          <i class="iconfont ic-list-comments"></i> 155
</a>      <span><i class="iconfont ic-list-like"></i> 929</span>
        <span><i class="iconfont ic-list-money"></i> 4</span>
    </div>
  </div>
</li>


<li id="note-26432090" data-note-id="26432090" class="have-img">
    <a class="wrap-img" href="/p/ce340277fc6e" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/2259045-0e47e3f24c0896bb.png?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/2259045-0e47e3f24c0896bb.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/2b3ad4f2a058">
        <img src="//upload.jianshu.io/users/upload_avatars/2259045/5fcf399a6f1b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/2b3ad4f2a058">麦大人</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书观察优秀作者" src="//upload.jianshu.io/user_badge/94d76265-aab1-4559-8d12-1da9f6be21ce" alt="94d76265 aab1 4559 8d12 1da9f6be21ce" />
</a>        <span class="time" data-shared-at="2018-04-10T14:04:59+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/ce340277fc6e">你为什么至今单身？看完后扎心了！</a>
    <p class="abstract">
      文/麦大人 01 知乎上有个热门话题：为什么现在的男性普遍不再对女性展开追求了？ 下面留言竟有24591个回答，看得出大家对这个话题的感兴趣程度。 如今，单身贵族越来越多，当...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/ce340277fc6e">
        <i class="iconfont ic-list-read"></i> 36326
</a>        <a target="_blank" href="/p/ce340277fc6e#comments">
          <i class="iconfont ic-list-comments"></i> 341
</a>      <span><i class="iconfont ic-list-like"></i> 1143</span>
        <span><i class="iconfont ic-list-money"></i> 3</span>
    </div>
  </div>
</li>


<li id="note-26685481" data-note-id="26685481" class="have-img">
    <a class="wrap-img" href="/p/027d0d25a7a7" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/2259045-10689ab268420806.png?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/2259045-10689ab268420806.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/2b3ad4f2a058">
        <img src="//upload.jianshu.io/users/upload_avatars/2259045/5fcf399a6f1b.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/2b3ad4f2a058">麦大人</a>
          <a target="_blank" href="http://www.jianshu.com/p/d1d89ed69098">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书观察优秀作者" src="//upload.jianshu.io/user_badge/94d76265-aab1-4559-8d12-1da9f6be21ce" alt="94d76265 aab1 4559 8d12 1da9f6be21ce" />
</a>        <span class="time" data-shared-at="2018-04-16T14:13:45+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/027d0d25a7a7">48岁古天乐封帝：25年后 ，我终于等到你</a>
    <p class="abstract">
      文/麦大人 01 终于等到你，还好我没放弃 1994年，当时已红透半边天的哥哥张国荣，正在上吴君如和黄伟文的电台节目，主持人要他说几个自己比较看好的新人。 哥哥便点名力捧了当...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/027d0d25a7a7">
        <i class="iconfont ic-list-read"></i> 1720
</a>        <a target="_blank" href="/p/027d0d25a7a7#comments">
          <i class="iconfont ic-list-comments"></i> 18
</a>      <span><i class="iconfont ic-list-like"></i> 28</span>
    </div>
  </div>
</li>


<li id="note-26457825" data-note-id="26457825" class="have-img">
    <a class="wrap-img" href="/p/4e4c84cd754b" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/6101338-d3314c14447d9c36.png?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/6101338-d3314c14447d9c36.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/604159f29174">
        <img src="//upload.jianshu.io/users/upload_avatars/6101338/4c359572-b529-41c4-9af7-f112505149d4.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/604159f29174">蓝胖说说</a>
          <a target="_blank" href="http://www.jianshu.com/p/dc5761bbaa76">
            <img width="30" height="30" class="badge-icon" data-toggle="tooltip" title="简书签约作者" src="//cdn2.jianshu.io/assets/badges/signed-9702260821906f0d953eab67a29f8e7a2d2e3d20960576347591283a3fbfd867.png" alt="Signed" />
</a>        <span class="time" data-shared-at="2018-04-13T23:10:55+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/4e4c84cd754b">暴裂无声：你能看明白这8个隐喻吗？</a>
    <p class="abstract">
      尼采曾说：当你在凝视深渊的时候，深渊也正在凝视着你。 忻钰坤导演的《暴裂无声》正如一个深渊，令人欲罢不能。作为一个小成本的悬疑片：演员不是大牌、场景不算特别烧钱、特效仍是五毛...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/4e4c84cd754b">
        <i class="iconfont ic-list-read"></i> 2502
</a>        <a target="_blank" href="/p/4e4c84cd754b#comments">
          <i class="iconfont ic-list-comments"></i> 17
</a>      <span><i class="iconfont ic-list-like"></i> 46</span>
        <span><i class="iconfont ic-list-money"></i> 2</span>
    </div>
  </div>
</li>


<li id="note-26694459" data-note-id="26694459" class="have-img">
    <a class="wrap-img" href="/p/8b5cda88d1c6" target="_blank">
      <img data-echo="//upload-images.jianshu.io/upload_images/4989275-a18918b3139c1fd0.png?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" class="img-blur" src="//upload-images.jianshu.io/upload_images/4989275-a18918b3139c1fd0.png?imageMogr2/auto-orient/strip|imageView2/1/w/150/h/120" alt="120" />
    </a>
  <div class="content">
    <div class="author">
      <a class="avatar" target="_blank" href="/u/d3fd05d71dec">
        <img src="//upload.jianshu.io/users/upload_avatars/4989275/1b08f634-9736-4b03-a80d-f93d15ceb4a2.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64" alt="64" />
</a>      <div class="info">
        <a class="nickname" target="_blank" href="/u/d3fd05d71dec">火星夜车</a>
        <span class="time" data-shared-at="2018-04-15T22:54:06+08:00"></span>
      </div>
    </div>
    <a class="title" target="_blank" href="/p/8b5cda88d1c6">‹我不认识你，但我愿意尽我所能帮助你›</a>
    <p class="abstract">
      “猴神哈奴曼传说是孙悟空的前世，猴神大叔也像孙悟空一样。经历磨难，一步步将“爱”放在了坚持多年的信仰之前。真正从狭隘的印度教徒变成了博爱的“猴神”，从“人性”转变成了“神性”...
    </p>
    <div class="meta">

      <a target="_blank" href="/p/8b5cda88d1c6">
        <i class="iconfont ic-list-read"></i> 468
</a>        <a target="_blank" href="/p/8b5cda88d1c6#comments">
          <i class="iconfont ic-list-comments"></i> 24
</a>      <span><i class="iconfont ic-list-like"></i> 27</span>
    </div>
  </div>
</li>

        </ul>
        <!-- 文章列表模块 -->
      </div>
    </div>
    <div class="col-xs-7 col-xs-offset-1 aside">
      <div class="board">
        <a target="_blank" href="/trending/weekly?utm_medium=index-banner-s&amp;utm_source=desktop"><img src="//cdn2.jianshu.io/assets/web/banner-s-3-7123fd94750759acf7eca05b871e9d17.png" alt="Banner s 3" /></a>
        <a target="_blank" href="/trending/monthly?utm_medium=index-banner-s&amp;utm_source=desktop"><img src="//cdn2.jianshu.io/assets/web/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png" alt="Banner s 4" /></a>
        <a utm_medium="index-banner-s" target="_blank" href="/publications"><img src="//cdn2.jianshu.io/assets/web/banner-s-5-291e00e9156f30791fe24e3de9c39171.png" alt="Banner s 5" /></a>
        <a target="_blank" href="/c/e048f1a72e3d?utm_medium=index-banner-s&amp;utm_source=desktop"><img src="//cdn2.jianshu.io/assets/web/banner-s-6-c4d6335bfd688f2ca1115b42b04c28a7.png" alt="Banner s 6" /></a>
      </div>

      <!-- 首页右侧 App 下载提示 -->
      <a id="index-aside-download-qrbox" class="col-xs-8 download" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="&lt;img src=&quot;//cdn2.jianshu.io/assets/web/download-index-side-qrcode-0a0cf38b7413c60bb8d2627fd9eebd00.png&quot; alt=&quot;Download index side qrcode&quot; /&gt;" href="/apps?utm_medium=desktop&amp;utm_source=index-aside-click">
        <img class="qrcode" src="//cdn2.jianshu.io/assets/web/download-index-side-qrcode-0a0cf38b7413c60bb8d2627fd9eebd00.png" alt="Download index side qrcode" />
        <div class="info">
          <div class="title">下载简书手机App<i class="iconfont ic-link"></i></div>
          <div class="description">随时随地发现和创作内容</div>
        </div>
</a>
      <!-- 推荐作者 -->
      <div data-vcomp="recommended-author-list"></div>
    </div>
  </div>
</div>
<div data-vcomp="side-tool"></div>
<footer class="container">
  <div class="row">
    <div class="col-xs-17 main">
      






<a target="_blank" href="http://www.jianshu.com/c/jppzD2">关于简书</a><em> · </em><a target="_blank" href="http://www.jianshu.com/contact">联系我们</a><em> · </em><a target="_blank" href="http://www.jianshu.com/c/bfeec2e13990">加入我们</a><em> · </em><a target="_blank" href="http://www.jianshu.com/p/fc1c113e5b6b">简书出版</a><em> · </em><a target="_blank" href="http://www.jianshu.com/press">品牌与徽标</a><em> · </em><a target="_blank" href="http://www.jianshu.com/faqs">帮助中心</a><em> · </em><a target="_blank" href="http://www.jianshu.com/p/cabc8fa39830">合作伙伴</a>      <div class="icp">
        ©2012-2018 上海佰集信息科技有限公司 / 简书 / 沪ICP备11018329号-5 / 
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402002252">
          <img src="//cdn2.jianshu.io/assets/web/smrz-557fa318122c99a66523209bf9753a27.png" alt="Smrz" />
</a>        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402002252">沪公网安备31010402002252号 / </a>
        <a target="_blank" href="http://www.shjbzx.cn/">
          <img src="//cdn2.jianshu.io/assets/web/wxb-a216456895eb66c17497dbd3da443cf8.png" alt="Wxb" />
</a>        举报电话：021-34770013 / 
        <a target="_blank" href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&amp;serial=9031000020171107081457000002158769-SAIC_SHOW_310000-20171115131223587837&amp;signData=MEQCIADWZ5aTcBeER5SOVp0ly+ElvKnwtjczum6Gi6wZ7/wWAiB9MAPM22hp947ZaBobux5PDkd0lfqoCOkVV7zjCYME6g==">
          <img src="//cdn2.jianshu.io/assets/web/zggsrz-5695587dccf490ca3e651f4228f7479e.png" alt="Zggsrz" />
</a>      </div>
    </div>
  </div>
</footer>

    <script type="application/json" data-name="page-data">{"user_signed_in":false,"locale":"zh-CN","os":"other","read_mode":"day","read_font":"font2"}</script>
    
    <script src="//cdn2.jianshu.io/assets/babel-polyfill-b99072e62e23ea801bb9.js" crossorigin="anonymous"></script>
    <script src="//cdn2.jianshu.io/assets/web-base-f05b614b4b9ceccf881e.js" crossorigin="anonymous"></script>
<script src="//cdn2.jianshu.io/assets/web-96ccdc49342d21968e05.js" crossorigin="anonymous"></script>
    
    <script src="//cdn2.jianshu.io/assets/web/pages/home/index/entry-bd2bb26fd924490e1ea7.js" crossorigin="anonymous"></script>
    <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
</script>

  </body>
</html>

